*,body{
    padding: 0;
    margin: 0;
}

/* main page styles */

/* background */
#main-view{
    background-image: url("cool-background.png");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    box-sizing: border-box;
    width: 100%;
    height: 650px;
    margin: 0;
    padding: 0;
    position: relative;
    box-shadow: 0rem 0rem 10rem 5px rgb(216, 214, 214) ;
}

/* navbar */
.main-nav_div{
    text-align: right;
    padding: 20px 25px;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 70px;
    
} 

.main-nav_div li{
    color: #8B4513;
    display:inline-block ;
    list-style-type:none;
    padding: 0 35px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 800;
} 



.main-nav_div li:hover{
    color: #db7023;
}


.nav-colored { 
    background-image: url("cool-background.png");
    background-repeat: no-repeat;
    background-size: 100% 700px;
 }
.nav-transparent { 
    background-image: none;
    background-repeat: none;
    background-size: 100% 700px;
}


.main-text_div{
 
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 50;
}

.main-text_div h1{
    font-size: 70px;
    margin-bottom: 15px;
    color: #191970;
}

.main-text_div h1:hover,
.main-text_div h1:focus{
    
    animation: effect 2s ease infinite;
    color: transparent;
   
}

@keyframes effect {
    0% {
        background-color: #00243b;
        background-image: linear-gradient(135deg, #978907 0%, #0f1579 100%);
        -webkit-background-clip: text;
    } 
    20% {
        background-color: #00243b;
        background-image: linear-gradient(135deg, #0f1579 0%, #4d0e81 100%);
        -webkit-background-clip: text;
    } 
    40% {
        background-color: #00243b;
        background-image: linear-gradient(135deg, #4d0e81 0%, #b14609 100%);
        -webkit-background-clip: text;
    } 
    60% {
        background-color: #00243b;
        background-image: linear-gradient(135deg, #b14609 0%, #0d5f06 100%);
        -webkit-background-clip: text;
    } 
    80% {
        background-color: #00243b;
        background-image: linear-gradient(135deg, #0d5f06 0%, #8f068f 100%);
        -webkit-background-clip: text;
    } 
    100% {
        background-color: #00243b;
        background-image: linear-gradient(135deg, #8f068f 0%, #978907 100%);
        -webkit-background-clip: text;
    } 

}

.main-text_div h4{
    font-size: xx-large;
}

#portfolio{
    width: 100%;
    box-sizing: border-box;
}


.card{
    width: 25%;
    display: inline-block;
    margin-left: 6%;
    border: none;
    margin-bottom: 2rem;
    position: relative;
}

.resize-card-img{
    width: 100%;
    height: 250px;
    border-radius: 1rem;
}
.portfolio-works{

}

.portfolio-works-image_div{
    position: relative;
    cursor: pointer;
}

.portfolio-works-image_text{
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #524206 0%, #8b7e02 100%);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

.card-body-description{
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    min-height: 100px;
    background-color: white;
    color: rgba(0, 0, 0, 0.72);
    
} 



.card-body-description p{
    padding: 2%;
}

.portfolio-works-image_div:hover .portfolio-works-image_text{
    visibility: visible;
    opacity: 1;
    border-radius: 1rem;
} 

.portfolio-works-image_div button{
    display: block;
    margin: 3% auto;
}


.portfolio-button{
    text-align: center;
    margin:0 30% ;
    width: 40%;
    padding: 15px;
    border-radius: 10%/80%;
    font-weight: 400;
    font-size: larger;
    justify-content: center;
    align-items: center;
}

.portfolio-button:hover{
    background-color: #facc42;
}

#about{
    width: 100%;
    box-sizing: border-box;
} 

.subheading{
    text-align: center;
    padding-top: 5rem;
    padding-bottom:3% ;
    color: #4B0082;
}
.about-card_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card{
    width: 30%;
    min-height: 400px;
    max-height: 600px;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 5px;
    margin: 2%;
}


.about-card h4{
    text-align: center;
    padding: 3% 0; 
}

.about-card p{
    color: gray;
    padding: 0 1rem 0 0rem;
}

.about-card li{
    color: black;
    list-style-type:circle;
}


.about-card_me li{
    list-style-type: none;
    padding-left: 10%;
}

.about-card_work p{
    display: inline-block;
    padding-left: 10%;
    
}

.about-card_me a{
    text-decoration: none;
}

/* contact page styles */

.contact-social{
    background-color: #0B8CD5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='769' height='769' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23787878'/%3E%3Cstop offset='1' stop-color='%23c6c6c6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%237d7d7d'/%3E%3Cstop offset='0.09' stop-color='%239f9f9f'/%3E%3Cstop offset='0.18' stop-color='%23b5b5b5'/%3E%3Cstop offset='0.31' stop-color='%23c7c7c7'/%3E%3Cstop offset='0.44' stop-color='%23d4d4d4'/%3E%3Cstop offset='0.59' stop-color='%23dfdfdf'/%3E%3Cstop offset='0.75' stop-color='%23e7e7e7'/%3E%3Cstop offset='1' stop-color='%23ECECEC'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.68' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    margin: auto;
    box-sizing: border-box;

}

#subheading_contact{
    width: 80%;
    text-align: left;
    margin: auto;
}

#contact form{
    width: 80%;
    padding:0% 10%;
    color: white;
    padding-top: none;
}

textarea[name="message"]{
    resize: none;
    height: 150px;
} 


.social-text_div{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    padding: 1rem 0;
    color: white;
    font-weight: 700;
}

.social-img_div{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.social-img{
    font-size: 2.5rem;
    padding: 7px 7px;
    margin: 0 5%;
    background-color: white;
    border-radius: 10%;
   
    
}

.social-copyright_div{
    text-align: center;
    padding: 2rem 0 0.5rem 0;
    font-size: 20px;
}


@media only screen and (max-width: 1050px){
    .card{
        width: 35%;
        margin-left: 10%;
    }

    .about-card_wrap{
        display: block;
        
    }

    .about-card{
        width: 50%;
        margin: 2% 25%;
        min-height: auto;
        max-height: none;
    }

    .social-img_div{
        width: 90%;
        margin: 0 3%;
    }

    .social-img{
        font-size: 1.8rem;
    }
    
}


@media only screen and (max-width: 800px) {

    .main-nav_div{
        text-align: center;
        padding: 20px 25px;
        
    }

    .main-nav_div li{
        font-size: 100%;
        padding: 0 5%;        
    }

    .main-text_div h1{
        font-size: 60px;
        margin-bottom: 15px;
        
    }

    .card{
        width: 35%;
        margin-left: 10%;
    }


    .portfolio-button{
        width: 70%;
        margin: 0 15%;
    }


}

@media only screen and (max-width: 680px) {

    .main-nav_div li{
        font-size: 100%;
        padding: 0 2.5%;        
    }

    .main-text_div h1{
        font-size: 40px;
        
    }

    .card{
        width: 40%;
        margin-left: 7%;
    }

    .about-card{
        width: 80%;
        margin: 2% 10%;
    }

    .social-img{
        font-size: 1.5rem;
        margin: 0 1.5%;
    }
    
}

@media only screen and (max-width: 550px){
    .card{
        width: 50%;
        margin-left: 25%;
    }
    .about-card{
        width: 80%;
        margin: 2% 10%;
    }
}