{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %} ">
    <title>Document</title>
    
</head>
<body>

    <section id="main-view">

        <div class="main-nav_div">
            <ul>
               <a href="#portfolio"><li>Portfolio</li></a> 
               <a href="#about"><li>About</li></a>
               <a href="#contact"><li>Contact</li></a>
            </ul>
        </div>

        <div class="main-text_div">
            <h1>Hey I'am Shamsu cm </h1>
            <h4>I'am a Developer </h4>
        </div>
        
    </section>


    <section id="portfolio">

    </section>

    <section id="about">
    
    </section>

    <section id"contact">
    
    </section>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>